.title {
    margin: 0 0 60px 0;
}

.title h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    line-height: 80px;
    color: #fff;
}

.header:hover {
    background: #fff;
    color: #000;
    border-bottom: 1px solid #ddd;
}

.header.on {
    background: #fff;
    color: #000;
    border-bottom: 1px solid #ddd;
}

.header_wrap {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
}

.header_wrap h1 a {
    display: inline-block;
    width: 140px;
    height: 60px;
    font-size: 0;
    vertical-align: middle;
    background: url(../image/img-logo-wt.png) no-repeat;
}

.header:hover h1 a {
    background: url(../image/img-logo.png) no-repeat;
}

.header.on h1 a {
    background: url(../image/img-logo.png) no-repeat;
}

.header_wrap .gnb {
    margin: 0 0 0 auto;
}

.header_wrap ul {
    display: flex;
    gap: 60px;
}

.header_wrap ul a {
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    text-shadow: 1px 1px 1px gray;
}

.header_wrap .member {
    margin: 0 0 0 60px;
}

/* ㅡㅡㅡㅡㅡㅡㅡ두번째 section입니다ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.mainVisual {
    position: relative;
}

.mainVisual .visual_slide .itm {
    height: 600px;
}

.mainVisual .visual_slide .itm01 {
    background: url(../image/mainview01.jpg) no-repeat center center/cover;
}

.mainVisual .visual_slide .itm02 {
    background: url(../image/mainview02.jpg) no-repeat center center/cover;
}

.mainVisual .visual_slide .itm03 {
    background: url(../image/mainview03.jpg) no-repeat center center/cover;
}

.mainVisual .visual_slide .itm04 {
    background: url(../image/mainview04.jpg) no-repeat center center/cover;
}

.mainVisual .visual_slide .itm05 {
    background: url(../image/mainview05.jpg) no-repeat center center/cover;
}

.mainVisual .visual_slide .itm06 {
    background: url(../image/mainview06.jpg) no-repeat center center/cover;
}

.mainVisual .visual_slide .itm07 {
    background: url(../image/mainview07.jpg) no-repeat center center/cover;
}

.mainVisual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1400px;
    width: 100%;
}

.mainVisual .arrows i {
    position: absolute;
    padding: 10px;
    top: 0;
    transform: translate(0, -50%);
    font-size: 25px;
    color: #ddd;
    border: 2px solid #ddd;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
}

.mainVisual .arrows .left {
    left: 0;
}

.mainVisual .arrows .right {
    right: 0;
}

.mainVisual .visual_slide .slick-dots {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
    text-align: center;
}

.mainVisual .visual_slide .slick-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    margin: 0 15px;
}

.mainVisual .visual_slide .slick-dots li::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.mainVisual .visual_slide .slick-dots li.slick-active::after {
    background: #fff;
}

.mainVisual .visual_slide .slick-dots li button {
    display: none;
}

/* ㅡㅡㅡㅡㅡㅡㅡ두번째 section입니다ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.mainCar {
    position: relative;
    padding: 50px 0 0 0;
}

.mainCar .maincar_slide {
    margin: 0 120px;
}

.mainCar .maincar_slide .img_box img {
    margin: 0 0 10px 0;
    padding: 0 35px;
}

.mainCar .maincar_slide .img_box figure {
    padding: 0 0 60px 0;
}

.mainCar .maincar_slide p {
    display: block;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.mainCar .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1800px;
    width: 100%;
}

.mainCar .arrows i {
    position: absolute;
    padding: 10px;
    top: 0;
    transform: translate(0, -50%);
    font-size: 25px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
}

.mainCar .arrows .left {
    left: 0;
}

.mainCar .arrows .right {
    right: 0;
}

/* ㅡㅡㅡㅡㅡㅡㅡ세번째 section입니다ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.mainEvet {
    background: #f3f4f8;
    padding: 80px 0;
}

.mainEvet .event_slide {
    display: block;
    margin: 0 auto;
}

.event_slide .event_img_box {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.event_slide .event_img_box .event_img {
    display: flex;
}

.event_slide .event_img_box .event_img>* {
    flex: 1;
}

.event_slide .event_img_box .event_img figure {
    padding: 0 0 30px 0;
}

.event_slide .event_img_box .event_img figure img {
    width: 100%;
    cursor: pointer;
}

.event_slide .event_img_box .event_img figure img:hover {
    border: 5px solid #0ff;
    transition: 0.2s;
}

.mainEvet .event_slide {
    position: relative;
}

.mainEvet .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
}

.mainEvet .arrows i {
    position: absolute;
    padding: 10px;
    top: 0;
    transform: translate(0, -50%);
    font-size: 25px;
    color: #fff;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.2);
}

.mainEvet .arrows .left {
    left: 0;
}

.mainEvet .arrows .right {
    right: 0;
}

.mainEvet .event_img_box .slick-dots {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
    text-align: center;
}

.mainEvet .event_img_box .slick-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #101010;
    border-radius: 50%;
    margin: 0 15px;
}

.mainEvet .event_img_box .slick-dots li::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.mainEvet .event_img_box .slick-dots li.slick-active::after {
    background: rgba(82, 96, 203, 1);
    border-radius: 50%;
}

.mainEvet .event_img_box .slick-dots li button {
    display: none;
}

/* ㅡㅡㅡㅡㅡㅡㅡ네번째 section입니다ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.mainService {
    max-width: 1200px;
    width: 100%;
    padding: 80px 0 100px 0;
    margin: 0 auto;
}

.mainService .service_inner ul {
    display: flex;
    text-align: center;
}

.mainService .service_inner ul li {
    position: relative;
    width: 25%;
}

.mainService .service_inner ul li::after {
    position: absolute;
    top: 12px;
    left: 0;
    content: "";
    width: 1px;
    height: 150px;
    background: #ddd;
}

.mainService .service_inner ul li:first-child::after {
    content: none;
}

.mainService .service_inner img {
    margin: 0 0 20px 0;
}

.mainService .service_inner a strong {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 20px 0;
}

.mainService .service_inner a span {
    font-size: 14px;
    font-weight: 800;
    color: #666;
}

/* ㅡㅡㅡㅡㅡㅡㅡ다섯번째 section입니다ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.mainSocial {
    background: #f3f4f8;
}

.mainSocial .social_wrap {
    padding: 80px 0 100px 0;
}

.mainSocial .social_inner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.mainSocial .social_inner .social_tab ul {
    display: flex;
    justify-content: center;
}

.mainSocial .social_inner .social_tab ul a {
    display: block;
    margin: 0 0 60px 0;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #ddd;
    background: #fff;
}

.mainSocial .social_inner .social_tab ul a:active {
    background: rgba(82, 96, 203, 1);
    color: #fff;
}

.mainSocial .social_inner .tab_menu {
    padding: 0 0 60px 0;
}

.mainSocial .social_inner .tab_menu .youtube_menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}


.mainSocial .social_inner .tab_menu .instagram_menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.mainSocial .social_inner .tab_menu .content {
    display: none;
}

.mainSocial .social_inner .tab_menu .content.on {
    display: block;
}

.tab_menu .instagram_menu a img {
    display: block;
    width: 100%;
    height: 285px;
    object-fit: cover;
}

.mainSocial .social_inner .tab_menu .facebook_menu .FB_iframe .FB_box {
    text-align: center;
}

.mainSocial .social_inner .tab_menu .facebook_menu {
    position: relative;
}

.mainSocial .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
}

.mainSocial .arrows i {
    position: absolute;
    padding: 10px;
    top: 0;
    transform: translate(0, -50%);
    font-size: 25px;
    color: #fff;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.2);
}

.mainSocial .arrows .left {
    left: 0;
}

.mainSocial .arrows .right {
    right: 0;
}

.mainSocial .social_wrap .icon {
    display: block;
    text-align: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.mainSocial .social_wrap .icon i {
    padding: 15px;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

/* ㅡㅡㅡㅡㅡㅡㅡ여섯번째 section입니다ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.mainNews {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.mainNews .news_wrap {
    display: flex;
    padding: 80px 0;
    gap: 30px;

}

.mainNews .news_wrap .news_inner {
    width: 585px;
}

.mainNews .news_wrap p {
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
}

.mainNews .news_wrap li {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: #777777;
    line-height: 1.9;
}

.mainNews .news_wrap li {
    position: relative;
}

.mainNews .news_wrap li a span {
    position: absolute;
    right: 0;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ푸터입니다 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.footer {
    background: #f3f4f8;
    padding: 30px 0 50px 0;
    line-height: 15px;
}

.footer .footer_inner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


.footer .footer_top ul {
    position: relative;
    display: flex;
    padding: 0 0 5px 0;

}

.footer .footer_top ul li {
    padding: 0 15px;
    border-left: 1px solid #666;

}

.footer .footer_top ul li:nth-child(1) {
    padding-left: 0;
    border: none;
}

.footer .footer_top ul .FI a {
    font-size: 17px;
    font-weight: 700;
    color: #045FB4;
}

.footer .footer_top .sub li {
    margin: 0 0 0 auto;

}

.footer .footer_top .sub li {
    font-size: 18px;
    font-weight: 700;
}

.footer .footer_bot {
    display: flex;
    padding: 20px 0;
}

.footer .footer_bot p {
    padding: 0 0 0 60px;
    line-height: 60px;
    color: #666;
}

.footer .footer_bot .bot_right {
    margin: 30px 0 0 auto;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ사이드메뉴입니다 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.sideBox {
    position: fixed;
    top: 25%;
    right: 0;
    background: rgba(33, 59, 92, 1);
}

.sideBox li a {
    display: flex;
    transition: 1.5s;
}

.sideBox a {
    width: 150px;
    height: 53px;
}

.sideBox li a:hover {
    background: #ddd;
}

.sideBox ul li a .side_img {
    height: 50px;
    width: 50px
}

.sideBox ul li a .img01 {
    background: url(../image/sideimg01-1.png) no-repeat right center;
}

.sideBox ul li a:hover .img01 {
    background: url(../image/sideimg1-2.png) no-repeat right center;
}

.sideBox ul li a .img02 {
    background: url(../image/sideimg02-1.png) no-repeat right center;
}

.sideBox ul li a:hover .img02 {
    background: url(../image/sideimg2-2.png) no-repeat right center;
}

.sideBox ul li a .img03 {
    background: url(../image/sideimg03-1.png) no-repeat right center;
}

.sideBox ul li a:hover .img03 {
    background: url(../image/sideimg3-2.png) no-repeat right center;
}

.sideBox ul li a .img04 {
    background: url(../image/sideimg04-1.png) no-repeat right center;
}

.sideBox ul li a:hover .img04 {
    background: url(../image/sideimg4-2.png) no-repeat right center;
}

.sideBox ul li a .img05 {
    background: url(../image/sideimg05-1.png) no-repeat right center;
}

.sideBox ul li a:hover .img05 {
    background: url(../image/sideimg5-2.png) no-repeat right center;
}

.sideBox ul li a .img06 {
    background: url(../image/sideimg06-1.png) no-repeat right center;
}

.sideBox ul li a:hover .img06 {
    background: url(../image/sideimg6-2.png) no-repeat right center;
}

.sideBox ul a p {
    width: 100px;
    font-size: 12px;
    font-weight: 500;
    text-align: right;
    line-height: 50px;
    color: #f3f4f8;
}

.sideBox li a:hover p {
    color: rgba(33, 59, 92, 1);
}